<IfModule mod_rewrite.c>
    #turn on rewrite engine
    RewriteEngine On
    #rewrite all requests to the webroot directory
    RewriteRule ^$ public/ [L]
    #all requests with extract symbols be redurected to the webroot with default parameter on the address window
    RewriteRule (.*) public/$1 [L]
</IfModule>
