<IfModule mod_rewrite.c>
    RewriteEngine on
    #if request is not a file in the directory, redirect to index.php file
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [PT,L]
</IfModule>